<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltreUtilisateur</filter-name>
        <filter-class>filtre.FiltreUtilisateur</filter-class>
    </filter>
    <filter>
        <filter-name>FiltreAdmin</filter-name>
        <filter-class>filtre.FiltreAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltreAdmin</filter-name>
        <url-pattern>/admin/index.jsp</url-pattern>
        <url-pattern>/AjoutProduit</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltreUtilisateur</filter-name>
        <url-pattern>/Panier</url-pattern>
        <url-pattern>/AjoutPanier</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>controlleurAdmin.Deconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheProduit</servlet-name>
        <servlet-class>controlleur.RechercheProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panier</servlet-name>
        <servlet-class>controlleurUtilisateur.Panier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiderAchat</servlet-name>
        <servlet-class>controlleurUtilisateur.ValiderAchat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>controlleur.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>controlleurAdmin.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutProduit</servlet-name>
        <servlet-class>controlleurAdmin.AjoutProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnectionAdmin</servlet-name>
        <servlet-class>controlleur.DeconnectionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutPanier</servlet-name>
        <servlet-class>controlleurUtilisateur.AjoutPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationProduit</servlet-name>
        <servlet-class>controlleur.InformationProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TelechargementInfoProduit</servlet-name>
        <servlet-class>controlleur.TelechargementInfoProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnleverPanier</servlet-name>
        <servlet-class>controlleurUtilisateur.EnleverPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifierQuantitePanier</servlet-name>
        <servlet-class>controlleurUtilisateur.ModificationPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationProduit</servlet-name>
        <servlet-class>controlleurAdmin.ModificationProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerProduit</servlet-name>
        <servlet-class>controlleur.SupprimerProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValiderModificationProduit</servlet-name>
        <servlet-class>controlleurAdmin.ValiderModificationProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePanier</servlet-name>
        <servlet-class>controlleurUtilisateur.UpdatePanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexAdmin</servlet-name>
        <servlet-class>controlleurAdmin.IndexAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>controlleur.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptController</servlet-name>
        <servlet-class>controlleur.DeptController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListeProduit</servlet-name>
        <servlet-class>controlleur.ListeProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeProduit</servlet-name>
        <url-pattern>/ListeProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/Deconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheProduit</servlet-name>
        <url-pattern>/RechercheProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiderAchat</servlet-name>
        <url-pattern>/ValiderAchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutProduit</servlet-name>
        <url-pattern>/AjoutProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnectionAdmin</servlet-name>
        <url-pattern>/DeconnectionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutPanier</servlet-name>
        <url-pattern>/AjoutPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationProduit</servlet-name>
        <url-pattern>/InformationProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TelechargementInfoProduit</servlet-name>
        <url-pattern>/TelechargementInfoProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnleverPanier</servlet-name>
        <url-pattern>/EnleverPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierQuantitePanier</servlet-name>
        <url-pattern>/modifierQuantitePanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationProduit</servlet-name>
        <url-pattern>/ModificationProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerProduit</servlet-name>
        <url-pattern>/SupprimerProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiderModificationProduit</servlet-name>
        <url-pattern>/ValiderModificationProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePanier</servlet-name>
        <url-pattern>/UpdatePanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexAdmin</servlet-name>
        <url-pattern>/IndexAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptController</servlet-name>
        <url-pattern>/DeptController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
