body {
    /* background: url("../images/pere.jpg"); */
    background-size: cover;
    font-family: Segoe Script;
}

.login h1 {
    color: white;
}

.car {
    background: red;
}

img {
    width: 100px;
}

.login {
    border: 2px solid black;
    height: 600px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .4);
    margin-top: 50px;
    padding: 75px;
}

.login input {
    font-color: white;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    background: rgba(0, 0, 0, 0);
}

.login input:focus {
    color: white;
    border-radius: 5px;
    border: 0px;
    background: rgba(0, 0, 0, 0);
}

.login button {
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background: rgb(120, 25, 27);
}

.login button:hover {
    outline: none;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background: rgb(76, 90, 71);
}

.coad {
    height: 25px;
    margin-top: 50px;
    float: right;
}

.coad a {
    text-decoration: none;
    color: white;
}

.coad a:hover {
    text-decoration: underline;
}

.inscription {
    height: 25px;
    margin-top: 50px;
}

.inscription a {
    text-decoration: none;
    color: white;
}

.inscription a:hover {
    text-decoration: underline;
}

.reseau {
    text-align: center;
    margin-top: 25px;
    text-indent: 20px;
    font-size: 15px;
    color: white;
}

.reseau img {
    width: 50px;
}

.entete {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    background: rgba(0, 0, 0, .5);
}

.entete li a {
    color: white;
}

.entete li a:hover {
    color: grey;
}

.navi {
    padding-top: 2px;
    float: left;
}

.search {
    margin-left: 33.33%;
}

.deco {
    text-align: right;
    float: right;
}

.deco p {
    padding-top: 10px;
    color: white;
}

.deco p:hover {
    color: grey;
}

.search input {
    color: white;
    padding-left: 5px;
    border: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    visibility: ;
}

.search input:focus {
    outline: none;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
}

.search button {
    color: white;
    border: 0px;
    border-radius: 5px;
    height: 40px;
    background: rgb(120, 25, 27);
}

.search button:hover {
    outline: none;
    border: 0px;
    border-radius: 5px;
    height: 40px;
    background: rgb(76, 90, 71);
}

.content {
    margin-top: 0;
    /* background: url("../images/papier4.png"); */
    background-size: 100%;
    opacity: .8;
    height: 730px;
}